.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

# Raw data
Data_raw/*

# Clean data
Data_clean/*

# Images
images/*

# Some R files of old. Not sure if I want to commit. If cleaned up
R_code/Load_data_ARA.R
R_code/Plots_ARA.R
