.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

# Raw data
Data_raw/*

# Clean data
Data_clean/*

# Images and exported data
images/*
export/*

# Some R files of old. Not sure if I want to commit. If cleaned up
R_code/Load_data_ARA.R
R_code/Plots_ARA.R
R_code/Removed_cleaning_data.R

#
R_code/Removed.R
